modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41753
externalPort = 3000

[[ports]]
localPort = 44243
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[userenv]

[userenv.shared]
PORT = "5000"
useruri = "mongodb+srv://practice:practice123@cluster0.wjn7kvt.mongodb.net/practice?retryWrites=true&w=majority&appName=Cluster0"
flashcarduri = "mongodb+srv://practice:practice123@cluster0.wjn7kvt.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0"
jwtkey = "iamgonnabeabillinoreinshallah"
RAZORPAY_KEY_ID = "rzp_test_RlaWeM1APi1E1M"
RAZORPAY_KEY_SECRET = "5E4VnaEzMj6DakZfhKRcA320"
PREMIUM_PRICE = "9900"
PREMIUM_CURRENCY = "INR"
